.container {
    position: relative;
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;

    background: url(https://oir.mobi/uploads/posts/2021-03/1616565767_12-p-fon-uzori-15.jpg);
    background-size: cover;
}

.ul {
    z-index: 100;
}

.li {
    display: inline-block;
    font-size: 2em;
    list-style-type: none;
    padding: 1.5em;

    text-transform: uppercase;

    text-align: center;
}

.span {
    overflow: hidden;
    display: block;
    font-size: 4.5rem;
}

.mask {
    opacity: .5;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: black;
    z-index: 10;
}

@media all and (max-width: 768px) {
    .li {
        display: block;
        font-size: 1.125rem;
        padding: 0.75rem;
    }

    .li .span {
        font-size: 2rem;
    }
}
